---

import SwiperGallery from "~/components/SwiperGallery.astro";
---

<section id="projects" class="py-20 bg-white text-gray-800">
  <div class="max-w-6xl mx-auto px-4">
   <h2 class="text-3xl md:text-4xl font-bold mb-16 text-center">Projects</h2>


    <!-- 카드 2열 구성 -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
      <SwiperGallery
        title="녹테마레 미디어아트(여수)"
        images={[
          "/images/noctemare_02.jpg",
          "/images/noctemare_01.jpg",
          "/images/noctemare_03.jpg"
        ]}
        video="/images/noctemare_video.mp4"
      />

      <SwiperGallery
        title="Lotteworldtower swarovski"
        images={[
          "/images/lotteworldtower_swarovski_01.jpg",
          "/images/lotteworldtower_swarovski_02.jpg",
          "/images/lotteworldtower_swarovski_03.jpg",
          "/images/lotteworldtower_swarovski_04.jpg",
          "/images/lotteworldtower_swarovski_05.jpg",
          "/images/lotteworldtower_swarovski_06.jpg",
          "/images/lotteworldtower_swarovski_07.jpg",
          "/images/lotteworldtower_swarovski_08.jpg",
          "/images/lotteworldtower_swarovski_09.jpg"
        ]}
      />


      <SwiperGallery
        title="Cocktail Bar(부천)"
        images={[
          "/images/bucheon_cocktail_01.jpg",
          "/images/bucheon_cocktail_03.jpg",
          "/images/bucheon_cocktail_02.jpg",
        ]}
        video="/images/bucheon_cocktail_video_02.mp4"
      />
       <SwiperGallery
        title="J.Fla-The Hare MV"
        images={[
          "/images/jfla_stage_01.jpg",
          "/images/jfla_stage_02.jpg",
          "/images/jfla_stage_04.jpg",
          "/images/jfla_stage_07.jpg",
          "/images/jfla_stage_06.jpg"
        ]}
        
      />
       <SwiperGallery
        title="Outback 아웃백"
        images={[
          "/images/outback_02.jpg",
          "/images/outback_01.jpg"
        ]}

      />
       <SwiperGallery
       title="별마로 천문대(영월)"
        
        video="/images/yeongwol_astronomy_video.mp4"
      

       />

       <SwiperGallery
        title="심리치료실 스누젤렌(부천)"
        images={[
          "/images/bupyeong_therapy_02.jpg",
          "/images/bupyeong_therapy_01.jpg",
          "/images/bupyeong_therapy_04.jpg",
          "/images/bupyeong_therapy_03.jpg"
        ]}
       
      />

       <SwiperGallery
        title="심리치료실 스누젤렌(부산)"

        video="/images/therapy_room_video.mp4"
         videoFirst={true} 
        images={[
          "/images/busan_snoezelen_therapyroom_04.jpg",
          "/images/busan_snoezelen_therapyroom_05.jpg",
          "/images/busan_snoezelen_therapyroom_06.jpg",
          "/images/busan_snoezelen_therapyroom_07.jpg",
          "/images/busan_snoezelen_therapyroom_08.jpg",
          "/images/busan_snoezelen_therapyroom_03.jpg",
          "/images/busan_snoezelen_therapyroom_02.jpg",
          "/images/busan_snoezelen_therapyroom_01.jpg"
        ]}
      
      />

       <SwiperGallery
        title="Lotteworldtower 잔디광장"
        images={[
          "/images/grass_field_01.jpg",
          "/images/grass_field_02.jpg"
        ]}
        video="/images/lawn_plaza_video.mp4"
      />

      <SwiperGallery
        title="아이사랑꿈터"
        images={[
          "/images/aisarang_dream_hall_01.jpg",
          "/images/aisarang_dream_hall_02.jpg",
          "/images/aisarang_dream_hall_03.jpg"
        ]}
        video="/images/aisarang_kidsroom_video.mp4"
      />

     <SwiperGallery
        title="하나은행gold 분당PB센터"
        images={[
          "/images/bundang_hanabank_gold_02.jpg",
          "/images/bundang_hanabank_gold_01.jpg"
        ]}
        video="/images/hana_bundang_video.mp4"
      />

       <SwiperGallery
        title="TheHyundai sephora"
        images={[
          "/images/thehyundai_sephora_01.jpg",
          "/images/thehyundai_sephora_02.jpg",
          "/images/thehyundai_sephora_03.jpg",
          "/images/thehyundai_sephora_04.jpg"
        ]}
       
      />

       <SwiperGallery
       title="River rain"
        
        video="/images/riverain_video.mp4"
    
       />
       <SwiperGallery
        title="남해 펜션"
        images={[
          "/images/namhae_luxury_pension_04.jpg",
          "/images/namhae_luxury_pension_05.jpg",
           "/images/namhae_luxury_pension_06.jpg",
            "/images/namhae_luxury_pension_01.jpg",
             "/images/namhae_luxury_pension_02.jpg",
              "/images/namhae_luxury_pension_03.jpg",
          
        ]}
       
      />
       <SwiperGallery
        title="소방계통도(공주고등학교)"
        images={[
          "/images/fire_diagram_01.jpg",
          "/images/fire_diagram_02.jpg"
        ]}
       
      />


      <SwiperGallery
        title="함정추진기 모니터링 시스템"
        images={[
          "/images/naval_propulsion_monitoring_01.jpg"
        ]}
        video="/images/naval_propulsion_monitor_video.mp4"
      />

       <SwiperGallery
        title="도자기박물관(남해)"
        images={[
          "/images/namhae_05.jpg",
          "/images/namhae_06.jpg",
          "/images/namhae_07.jpg",
          "/images/namhae_08.jpg",
          "/images/namhae_01.jpg",
          "/images/namhae_02.jpg",
          "/images/namhae_03.jpg"
        ]}
        video="/images/namhae_video.mp4"
      />

      <SwiperGallery
       title="가평 빠지"
        
        video="/images/gapyeong_floating_video.mp4"
      

       />
       <SwiperGallery
        title="The M Convention(울산)"
        images={[
          "/images/ulsan_them_convention_weddinghall_01.jpg",
          "/images/ulsan_them_convention_weddinghall_02.jpg"
        ]}
        video="/images/ulsan_themconvention_video_01.mp4"
      />

       <SwiperGallery
        title="PARNAS Hotel"
        images={[
          "/images/parnas_hotel_01.jpg",
          "/images/parnas_hotel_02.jpg"
        ]}
      
      />
      <SwiperGallery
        title="피부과(개포)"
        images={[
          
          "/images/gaepo_skinclinic.jpg"
        ]}
        
      />

      <SwiperGallery
        title="피부과(성남)"
        images={[
          "/images/seongnam_skinclinic_01.jpg"
          
        ]}
        video="/images/seongnam_clinic_video.mp4"
      />

      <SwiperGallery
        title="피부과(서래마을)"
        images={[
          "/images/seorae_village_01.jpg"
          
        ]}
        video="/images/seorae_clinic_lighting_video.mp4"
      />
       <SwiperGallery
        title="피부과(여의도)"
        images={[
          
          "/images/yeouido_skinclinic_01.jpg"
        ]}
        
      />

      <SwiperGallery
        title="Gallery(담양)"
        images={[
          "/images/damyang_gallery_01.jpg",
          "/images/damyang_gallery_02.jpg",
          "/images/damyang_gallery_03.jpg"
        ]}
        video="/images/damyang_gallery_video.mp4"
      />

       <SwiperGallery
        title="Bar(압구정)"
        images={[
          "/images/apgujeong_bar_01.jpg",
         
        ]}
        video="/images/apgujeong_bar_video.mp4"
      />

       <SwiperGallery
        title="museum DEEPDIVE(평창)"
        images={[
          "/images/pyeongchang_yongpyong_01.jpg",
          "/images/pyeongchang_yongpyong_02.jpg",
          "/images/pyeongchang_yongpyong_03.jpg"
        ]}
       
      />

      <SwiperGallery
        title="오마카세(선릉)"
        images={[
          "/images/seolleung_omakase_01.jpg",
          "/images/seolleung_omakase_02.jpg"
          
        ]}
        video="/images/seolleung_omakase_video.mp4"
      />

      <SwiperGallery
        title="TimeSquare(영등포)"
        images={[
          "/images/yeongdeungpo_timesquare_01.jpg",
          "/images/yeongdeungpo_timesquare_02.jpg",
          "/images/yeongdeungpo_timesquare_03.jpg",
          "/images/yeongdeungpo_timesquare_04.jpg"
        ]}
       
      />

      <SwiperGallery
        title="거리 가로등주(사북)"
        images={[
          
          "/images/sabuk_streetlight_01.jpg"
        ]}
        


      <!-- 필요 시 여기에 계속 추가 -->
    </div>
  </div>
</section>
